@import './variables.scss';
@import './layout/layout.scss';

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    // margin: 0;
    // box-sizing: border-box;
}

#root {
    width: 100%;
    height: 100%;
}

#renderCanvas {
    width: 100%;
    height: 100%;
    touch-action: none;
}

.pane__side {
    padding: $size--x2;
}
