

$size--x1: 0.25rem;
$size--x2: 0.5rem;
$size--x3: 0.75rem;
$size--x4: 1rem;
$size--x5: 1.25rem;
$size--x6: 1.5rem;
$size--x8: 2rem;
$size--x10: 2.5rem;
$size--x12: 3rem;
$size--x16: 4rem;


$color-blue--1: #E6F2FA;
$color-blue--2: #86C1E6;
$color-blue--3: #0D83CD;
$color-blue--4: #1128ac;

$color-orange-1: #2b1d11;
$color-orange-2: #442a11;
$color-orange-3: #593815;
$color-orange-4: #7c4a15;
$color-orange-5: #aa6215;
$color-orange-6: #d87a16;
$color-orange-7: #e89a3c;
$color-orange-8: #f3b765;
$color-orange-9: #f8cf8d;
$color-orange-10: #fae3b7;
