form {
    margin-block-end: 0;
}

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

#root {
    width: 100%;
    height: 100%;
}

.split {
    flex: 1;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.split-vertical {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: row-resize;
}

::selection {
  background: #ED8936;
}
