<html>
<head>
    <meta charset="utf-8">
    <title>The Game</title>
    <style>

    </style>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../client/app.css">
</head>
<body>
    <div id="root">

    </div>
    <%= javascript_pack_tag 'hello'%>
</body>
</html>
