
:root {
  --orange-1: hsla(47, 55%, 64%, 0.8);
  --orange-2: hsla(44, 86%, 44%, 0.8);
  --grey-light-1: #f7f7f7;
  --color-primary-dark: rgb(241, 123, 25);
  --color-primary-light: rgb(246, 179, 124);
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);

  --size-gutter-vertical: 2rem;
  --size-gutter-horizontal: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, var(--orange-1), var(--orange-2)), url(../img/header.png);
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
  position: relative;
}

.header__logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.header__logo {
  height: 35px;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #000;
  text-transform: uppercase;
}

.heading-primary--main {
  display: block;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 59px;

  animation-name: moveInLeft;
  animation-duration: 1s;
}

.heading-primary--sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 15px;

  animation-name: moveInRight;
  animation-duration: 1s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Utilities */

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 6rem;
}

.u-margin-bottom-small {
  margin-bottom: 1rem;
}

.btn-text {
  color: var(--color-primary-dark);
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid var(--color-primary-dark);
  padding: 3px;
  transition: all .2s;
}

.btn-text:hover {
  background-color: var(--color-primary-dark);
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .15);
  transform: translateY(-3px);
}

.btn-text:active {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .15);
  transform: translateY(0);
}

/* About section */

.section-about {
  background-color: var(--grey-light-1);
  padding: 25rem 0;
  margin-top: -25vh;
}

.heading-secondary {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;
}

.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, .2);
}

.heading-tertiary {
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph:not(:last-child) {
  margin-bottom: 2.5rem;
}

.composition {
  position: relative;
}

.composition__photo {
  width: 55%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  transition: all .1s;
  outline-offset: 1.5rem;
}

.composition__photo:hover {
  transform: scale(1.05) translateY(-.3rem);
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.5);
  z-index: 20;
  outline: 1rem solid var(--color-primary-dark)
}

.composition:hover .composition__photo:not(:hover) {
  transform: scale(.95);
}


.composition__photo--p1 {
  left: 0;
  top: -1.5rem;
}

.composition__photo--p2 {
  right: 0;
  top: 1.5rem;
}

.composition__photo--p3 {
  left: 20%;
  top: 8rem;
}

/* Grid */

.row {
  max-width: 71rem;
  margin: 0 auto;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row:not(:last-child) {
  margin-bottom: var(--size-gutter-vertical);
}

[class^="col-"] {
  float: left;
}

.col-1-of-2 {
  width: calc((100% - var(--size-gutter-horizontal)) / 2);
}

[class^="col-"]:not(:last-child) {
  margin-right: var(--size-gutter-horizontal);
}

.col-1-of-3 {
  width: calc((100% - 2 * var(--size-gutter-horizontal)) / 3);
}

.col-2-of-3 {
  width: calc((100% - 2 * var(--size-gutter-horizontal)) / 3 * 2 + var(--size-gutter-horizontal));
}

.col-1-of-4 {
  width: calc((100% - 3 * var(--size-gutter-horizontal)) / 4);
}

.col-2-of-4 {
  width: calc((100% - 3 * var(--size-gutter-horizontal)) / 4 * 2 + var(--size-gutter-horizontal));
}

.col-3-of-4 {
  width: calc((100% - 3 * var(--size-gutter-horizontal)) / 4 * 3 + 2 * var(--size-gutter-horizontal));
}

/* section-features */

.section-features {
  padding: 20rem;
  background-image: linear-gradient(to right bottom, var(--orange-1), var(--orange-2)), url(../img/nat-4.jpg);
  background-size: cover;

  transform: skewY(-7deg);
  margin-top: -8rem;
}

.section-features > * {
  transform: skewY(7deg);
}

.feature-box {
  background-color: rgba(255, 255, 255, .8);
  padding: 2rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
  transition: transform .2s;
}

.feature-box:hover {
  transform: translateY(-1rem) scale(1.03);
}

.feature-box__icon {
  font-size: 5rem;
  margin-bottom: 0.25rem;
  display: inline-block;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* section tours */

.section-tours {
  background-color: var(--grey-light-1);
  padding: 25rem 0 50rem 0;
  margin-top: -8rem; 
}

.card {
  perspective: 120rem;
  -moz-perspective: 120rem;
  
  background-color: orangered;
  height: 40rem;
  transition: all .8s;
}

.card:hover {
  transform: rotateY(-180deg);
}
